main {
    text-align: center;
}

div.block {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2em;
}

div.layering-frame {
    height: 256px;
    flex-grow: 1;
    position: relative;
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
    background-color: #CECECE;
}

div#layering-frame-1 {
    margin-right: 2em;
}

div#layering-frame-2 {
    margin-left: 2em;
}

img.image-1 {
    position: absolute;
    left: 0;
}

img.image-2 {
    position: absolute;
    right: 0;
}

img#moving-image-1 {
    animation: marquee-1 5s ease-in-out infinite alternate;
}

img#moving-image-2 {
    animation: marquee-2 5s ease-in-out infinite alternate;
}

@keyframes marquee-1 {
    0% {
        right: 0;
    }
    80% {
        right: calc(100% - 224px);
    }
    100% {
        right: calc(100% - 224px);
    }
}

@keyframes marquee-2 {
    0% {
        left: 0;
    }
    80% {
        left: calc(100% - 256px);
    }
    100% {
        left: calc(100% - 256px);
    }
}

a.link-button {
    border-style: solid;
    border-color: #595959;
    border-width: 1px;
    border-radius: 5px;
    padding: 5px;
    background-color: #CECECE;
    opacity: 0.8;
    font-weight: bold;
}

a.main-button {
    background-color: #FFD912;
}

a.link-button:hover {
    color: #000000;
    opacity: 1;
}