* {
    margin: 0;
}

body {
    background-color: #EEEEEE;
    color: #000000;
    font-family: monospace;
}

header {
    background-color: #000000;
    color: #FFFFFF;
    font-size: 2em;
    text-align: center;
    padding: 0.5em;
}

main {
    min-height: 70vh;
    margin: 2em;
}

footer {
    text-align: center;
}

div#license-wrapper {
    display: inline-grid;
}

img#university {
    height: 35px;
    grid-row: 1 / 3;
    grid-column: 1;
}

span#author {
    grid-row: 1;
    grid-column: 2;
}

a#license {
    grid-row: 2;
    grid-column: 2;
}

button {
    border-style: solid;
    border-color: #595959;
    border-width: 1px;
    border-radius: 5px;
    padding: 5px;
    color: #000000;
    background-color: #CECECE;
    opacity: 0.8;
    font-family: monospace;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    opacity: 1;
}

button:disabled {
    cursor: default;
    opacity: 0.3;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #595959;
}

fieldset {
    padding-bottom: 1.5em;
}

legend {
    border-style: solid;
    border-color: #595959;
    border-width: 1px;
    border-radius: 5px;
    padding: 5px;
    color: #FFFFFF;
    background-color: #000000;
    font-weight: bold;
}

input[type=radio] {
    position: relative;
    top: 4px;
    width: 16px;
    height: 16px;
    appearance: none;
    border-style: solid;
    border-color: #595959;
    border-width: 1px;
    border-radius: 50%;
}

input[type=radio]:checked {
    border-color: #FFD912;
    border-width: 6px;
}

input[type=radio]:hover {
    cursor: pointer;
}

input[type=radio]:disabled {
    cursor: default;
    opacity: 0.3;
}

input[type=radio]:disabled+label {
    cursor: default;
}

input[type=file] {
    display: none;
}

label.file-input {
    position: relative;
    border-style: solid;
    border-color: #595959;
    border-width: 1px;
    border-radius: 5px;
    padding: 5px;
    background-color: #CECECE;
    opacity: 0.8;
    font-weight: bold;
}

label.file-input:hover {
    opacity: 1;
}

label:hover {
    cursor: pointer;
}

input[type=file]:disabled+label {
    cursor: default;
    opacity: 0.3;
}

span.file-name {
    position: absolute;
    left: 105%;
    top: 5px;
    font-weight: normal;
    font-style: italic;
    white-space: nowrap;
}

div#binary-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div#binary-images img {
    max-width: 25vw;
    max-height: 256px;
    margin: 2em;
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
}

div.centered {
    text-align: center;
}