div#layering {
    display: flex;
}

div.image-settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input.image-opacity-input {
    width: 100px;
    height: 10px;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 55px;
    cursor: pointer;
    transform: rotate(-90deg);
    appearance: none;
    background-color: #FFD912;
    opacity: 0.8;
}

input.image-opacity-input:hover {
    opacity: 1;
}

input.image-opacity-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-style: solid;
    border-color: #595959;
    border-width: 1px;
    border-radius: 50%; 
    background: #CECECE;
    cursor: pointer;
}
  
input.image-opacity-input::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-style: solid;
    border-color: #595959;
    border-width: 1px;
    border-radius: 50%;
    background: #CECECE;
    cursor: pointer;
}

div.rectangles {
    left: -18px;
    position: relative;
    margin-bottom: 50px;
    cursor: pointer;
    opacity: 0.8;
}

div.rectangles:hover {
    opacity: 1;
}

span.rectangle {
    width: 30px;
    height: 20px;
    border-style: solid;
    border-color: #595959;
    border-width: 1px;
    border-radius: 5px;
    position: absolute;
}

span.moved-rectangle {
    top: 5px;
    left: 5px;
}

span.gray-rectangle {
    background-color: #CECECE;
}

span.yellow-rectangle {
    background-color: #FFD912;
}

div.arrows {
    visibility: hidden;
    width: 9px;
    height: 9px;
    position: relative;
}

span.arrow {
    display: inline-block;
    border-style: solid;
    border-color: #595959;
    border-width: 0 3px 3px 0;
    padding: 3px;
    position: absolute;
}

span.left-arrow {
    right: 9px;
    transform: rotate(135deg);
}

span.up-arrow {
    bottom: 9px;
    transform: rotate(-135deg);
}

span.down-arrow {
    top: 8px;
    transform: rotate(45deg);
}

span.right-arrow {
    left: 8px;
    transform: rotate(-45deg);
}

span.dot {
    width: 8px;
    height: 8px;
    background-color: #000000;
    border-radius: 50%;
    position: absolute;
}

div#images {
    flex-grow: 1;
    height: 95vh;
    position: relative;
    overflow: hidden;
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
    background-color: #CECECE;
}

div#images img {
    max-width: 99%;
    max-height: 99%;
    position: absolute;
    cursor: move;
}